*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #F2E96D;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    background-color: #F279A6;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    background-color: #F279A6;
}

.nav-itens{
    list-style: none;
    display:flex;
}

h1,h2 {
    font-family: 'Teko', sans-serif;
}

.nav-itens li a {
    padding-left: 40px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    background-color: #F279A6;
}

.carousel-inner .carousel-item img {
    max-width: 20%;  /* Reduz o tamanho da imagem para 50% do tamanho original */
    float: right;    /* Alinha a imagem à direita */
}

.carousel-control-prev,
.carousel-control-next {
    right: 0;
    left: auto;
}

.carousel-control-prev {
    margin-right: 170px; /* Adiciona um espaço entre as setas */
}

.carousel-control-next{
margin-left: 200px;
}

.carousel-indicators {
    justify-content: flex-end;
    right: 0;
    left: auto;
    bottom: 5px; /* Ajuste conforme necessário */
}

